:root {
  --titlefont: 'Grandstander', cursive;
  --namefont: 'Pixelify Sans', sans-serif;
  background-image: url("../public/background.jpg");
  background-size: cover;
}

.masterctn {
  display: grid;
  grid-template-rows: 20vh 7vh 1fr;
  height: 100vh;
  width: 100vw;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  ;
}

.titletext {
  font-family: 'Grandstander', cursive;
  font-weight: 900;
  color: #FECB05;
  font-size: 3rem;
  -webkit-text-stroke-width: 0.2rem;
  -webkit-text-stroke-color: #3860AA;
  z-index: 1;
  margin-top: -2%;
}

.rules {
  font-family: var(--titlefont);
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

.startbtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: var(--titlefont);
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
}

.logo {
  width: 15rem;
  margin-left: -5%;
}

.mainctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/gameboy.png");
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.buttonctn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.cardctn {
  width: 68vw;
  height: 53vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2%;
  margin-top: -2.3%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: black 3px solid;
  border-radius: 12px;
}

.imagectn {
  height: 70%;
  width: 100%;
  background-image: url('../public/battle.png');
  background-size: 100% 110%;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;

}

.pokemonimg {
  margin-top: 3%;
}


.namectn {
  height: 30%;
  width: 100%;
  background-image: url('../public/textbox.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 12px 12px;
}

.name {
  font-family: var(--namefont);
  font-size: 1.5rem;
}

.gameEnd,
.loading {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.loading {
  font-family: var(--namefont);
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
}

button:hover {
  border-color: #646cff;
}

.result {
  font-family: var(--titlefont);
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pokeball {
  animation: spin 2s linear infinite;
  height: 20vh;
}